<h1><center>Books with no Author</center></h1>

<table id="all-book-table">
    <thead>
        <tr>
            <th>Book Cover</th>
            <th>ISBN</th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Inventory</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            {{#unless this.author }} 
                    {{#highlightCheck this}}
                        <td><img src={{this.img}} height='200px' width='160px'></td>
                        <td>{{this.ISBN}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.author}}</td>
                        <td>{{this.category}}</td>
                        <td>{{checkInventory this.inventory}}</td>
                    {{/highlightCheck}}
            {{/unless}}
        {{/each}}
    </tbody>
</table>
